terraform {
  source = "../../../../terraform-modules/vpc"
}

inputs = {
  vpc_name          = "{{ vpc_name }}"
  cidr_block        = "{{ cidr_block }}"
  region            = "{{ region }}"
  environment       = "{{ environment }}"
}