terraform {
  source = "../../../../terraform-modules/vpc"
}

inputs = {
  vpc_name          = "{{ vpc_name }}"
  cidr_block        = "{{ cidr_block }}"
  availability_zones = [{{ availability_zones | map('quote') | join(', ') }}]
  environment       = "{{ environment }}"
}